<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geneque</title>
  <link rel="stylesheet" href="/css/about.css">
  <link rel="icon" type="image/png" href="/images/geneque.png">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="#" class="logo"><img src="/images/logo.png" alt="Geneque" style="max-width: 150px; margin-left: 20px"></a>
        <div class="nav-links">
            <a href="/" class="nav-link-special" style="color: #333;">Home</a>
            <div class="dropdown">
                <button class="dropbtn" style="font-family:'Times New Roman', serif; font-size: 16px;">Features</button>
                <div class="dropdown-content">
                    <a href="/personal">Personal data</a>
                    <a href="/sample">Sample life tracking</a>
                    <a href="/viewing">Viewing data</a>
                </div>
            </div>
            <a href="/about" class="nav-link-special" style="color: #333;">About Us</a>
            <a href="/login" class="login-btn">Log In</a>
        </div>
    </nav>
</header>

<div class="content-wrap">
</div>




<footer class="footer">
    <div class="footer-column">
        <img src="/images/geneque.png" alt="Geneque" style="max-width: 50px; margin-bottom: 10px;"> <!-- Update with your logo path -->
        <img src="/images/logo.png" alt="logo" style="max-width: 200px; margin-bottom: 10px; margin-left: -10px;"> <!-- Update with your logo path -->
        <div class="social">
            <a href="your-facebook-url"><img src="/images/Facebook.png" alt="Facebook" style="width: 14px; height: 20px;"></a>
            <a href="your-twitter-url"><img src="/images/Twitter.png" alt="Twitter" style="width: 20px; height: 15px;"></a>
            <a href="your-instagram-url"><img src="/images/Instagram.png" alt="Instagram" style="width: 20px; height: 19px;"></a>
            <a href="your-linkedin-url"><img src="/images/LinkedIn.png" alt="LinkedIn" style="width: 20px; height: 20px;"></a>
            <a href="your-youtube-url"><img src="/images/YouTube.png" alt="YouTube" style="width: 25px; height: 18px;"></a>
        </div>
    </div>
    <div class="footer-column">
        <h4>Product</h4>
        <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Case studies</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Updates</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Company</h4>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Culture</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Support</h4>
        <ul>
            <li><a href="#">Getting started</a></li>
            <li><a href="#">Help center</a></li>
            <li><a href="#">Server status</a></li>
            <li><a href="#">Report a bug</a></li>
            <li><a href="#">Chat support</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Contact us</h4>
        <ul>
            <li><a href="mailto:211501@astanait.edu.kz">211501@astanait.edu.kz</a></li>
            <li><a href="tel:7-708-823-67-97">+7 (708) 823 67 97</a></li>
            <li><a href="#">Kazakhstan, Astana, 010000</a></li>
        </ul>
    </div>
    <div class="footer-bottom-container">
        <div class="footer-bottom">
            Copyright © 2023
            <a href="#">Terms and Conditions</a> |
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>
</body>
</html>