/* Footer styles */
.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    /*position: fixed;*/
    width: 100%;
    /* Full width */
    /*bottom: 0; !* Stick to the bottom *!*/
    z-index: 100;
    /* Ensure it's above other content */
}


.footer-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer-column h4 {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
}

.social {
    display: flex;
    /* Aligns children inline */
    justify-content: space-between;
    /* Distributes space between the icons */
    align-items: center;
    /* Centers children vertically */
    /* Set a specific width if you want to control the spacing amount, e.g., 100% to spread across the container */
    width: 100%;
}

.social a {
    margin-right: 10px;
    /* Adds space to the right of each icon */
}

.social a:last-child {
    margin-right: 0;
    /* Ensures the last icon doesn't have extra space on the right */
}


.footer-column ul li a {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom-container {
    width: 100%;
    /* Full width */
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.footer-bottom a {
    text-decoration: none;
    color: #0066cc;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }

    .footer-bottom-container {
        order: 99;
        /* Ensures it's always at the bottom */
    }
}